<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head th:insert="/layout/head::head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body >
<header th:insert="/layout/header::header"> </header>
    <div class="container">
        <div class="border mt-5 text-center bg-dark">
          <h1 class="display-4 text-white">Muchas gracias por votar</h1>
          <img src="https://cdn.pixabay.com/photo/2016/03/30/00/19/check-1289751_960_720.png" class="w-25">
        </div>
    </div>
</body>
</html>