<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:insert="/layout/head::head">

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<header th:insert="/layout/header::header"> </header>
 <div>
         <section>
          <h1>quienes votaron??</h1>
          <table class="table">      
            <tbody>
              <thead>
                <tr>
                <th>CODIGO</th>
                <th>NOMBRE</th>
                <th>EMAIL</th>
                <th>NACIMIENTO</th>
                <th>EDAD</th>
                </tr>
            </thead>
            <tbody>
              <tr th:each="usuario:${usuarios}">
                <td th:text="${usuario.codigo}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${#temporals.format(usuario.nacimiento, 'dd-MM-yyyy')}"></td>
                <td th:text="${usuario.edad}"></td>
               </tr> 
            </tbody>
          </table>
      </section>
      </div>
</body>
</html>