<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:insert="/layout/head::head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<header th:insert="/layout/header::header"> </header>

<form th:action="@{/usuario/guardado}" th:object="${usuario}" method="post" class="row g-3" >
  <div class="col-md-6">
    <label for="nombre" class="form-label">CODIGO</label>
    <input th:field="*{codigo}" type="text" class="form-control" id="nombre" required>
  </div>
  <div class="col-md-6">
    <label for="nombre" class="form-label">NOMBRE </label>
    <input th:field="*{nombre}" type="text" class="form-control" id="nombre" required>
  </div>

   <div class="col-md-6">
    <label for="email" class="form-label">E-MAIL</label>
    <input th:field="*{email}" type="text" class="form-control" id="email" required >
  </div>
   <div class="col-md-6">
   
    <label for="nacimiento" class="form-label">FECHA DE NACIMIENTO</label>
    <input th:field="*{nacimiento}" type="date" class="form-control" id="nacimiento" th:value="*{nacimiento}" required>
  </div>
 
  <div class="col-12">
    <button type="submit" class="btn btn-primary">enviar</button>
  </div>
</form>
</body>
</html>